{{moment-format date}}

<div class="container">
  {{#each model as |listing|}}
  {{admin-tile listing=listing update="update" destroyListing="destroyListing"}}
  {{/each}}
  {{new-listing saveListing2="saveListing3"}}
</div>

{{new-category saveCategory="saveCategory"}}
