<h1> Welcome to {{model.name}} </h1>


{{category-tile category=model destroyCategory="destroyCategory"}}

{{new-listing saveListing="saveListing" category=model}}


{{#link-to 'index'}}Home{{/link-to}}
